<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The personal site of Dean Verhey" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🫠</text></svg>" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="alternate" type="application/atom+xml" title="Dean Verhey" href="/feed.xml" />
    {% seo "" %}
  </head>
  <body>
    <div class="site-container">
      <header class="top-nav">
        <a href="/" class="site-name">Dean Verhey</a>
        <nav class="nav-links">
          <a href="/">Home</a>
          <a href="/posts">Posts</a>
          <a href="/about">About</a>
          <a href="/cv">Résumé</a>
        </nav>
      </header>
      <main class="main-content">
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
