---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.w3.org/2005/Sitemaps/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.url and page.url !== false and page.url !== "/404.html" %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | w3DateString }}</lastmod>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
